<mat-toolbar color="primary">
  <header class="main-header">
    <a class="logo" [routerLink]="['/landing/']">Zettle</a>
    <nav class="navigation">
      <div>
        <ul>
          <li>
            <a (click)="signOut()" class="navigation-buttons" routerLinkActive="">Sign Out</a>
          </li>
          <li>
            <a class="navigation-buttons" [routerLink]="['/customer/']" routerLinkActive="">Customer</a>
          </li>
          <li>
            <a class="navigation-buttons" [routerLink]="['/business-admin/new-business']" routerLinkActive="">New
              Business</a>
          </li>
          <li>
            <a class="navigation-buttons" [routerLink]="['/business-admin/existing']" routerLinkActive="">Existing</a>
          </li>
        </ul>
      </div>
    </nav>
    <button class="vert-menu" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="more-vert"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/business-admin/existing']">
        <span>Existing</span>
      </button>
      <button mat-menu-item [routerLink]="['/business-admin/new-business']">
        <span>New Business</span>
      </button>
      <button mat-menu-item [routerLink]="['/customer/']">
        <span>Customer</span>
      </button>
      <button mat-menu-item (click)="signOut()">
        <span>Sign Out</span>
      </button>
    </mat-menu>

  </header>
</mat-toolbar>
<router-outlet></router-outlet>