<div class="container">
  <form>
    <mat-card>
      <mat-form-field class="input-width">
        <input type="text" placeholder="Product" aria-label="Product" matInput [matAutocomplete]="billerAuto">
        <mat-autocomplete #billerAuto="matAutocomplete">
          <!-- <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option> -->
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="input-width">
        <input matInput placeholder="Quantity" type="number">
      </mat-form-field>
      <mat-form-field class="input-width">
        <input matInput placeholder="Count" type="number">
      </mat-form-field>
      <div class="footer">
        <div class="footer-content">
          <div>Total:</div>
          <div>{{ 14.23 | currency: 'INR'}}</div>
        </div>
        <div class="footer-buttons">
          <div>
            <button mat-raised-button color="primary">Add</button>
            <button mat-raised-button (click)="cancelClick()" color="warn">Cancel</button>
          </div>
        </div>
      </div>
    </mat-card>
  </form>
</div>