$breakpoint-tablet: 768px;
$breakpoint-laptop: 1200px;

.container {
    padding: 10px;        
}

.input-width {
    width: 100%;
}

.footer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.footer-content div {
    font-size: 1.2em;
    font-weight: bold;    
}

.footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
}

.footer-buttons div > button {
    margin: 20px;
}