$breakpoint-tablet: 768px;



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

.main-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}

.navigation {
    width: 100%;
}

.navigation-buttons {
    text-decoration: none;
    @media (min-width: $breakpoint-tablet) {
        display: inline-block;
        text-align: center;
        padding: 14px 16px;
    }
    @media (max-width: #{$breakpoint-tablet - 1px}) {
        display: inline-block;
        text-align: center;
        padding: 7px 8px;
        font-size: .8em;
    }
}

.navigation-buttons:hover {
    color: lightgrey;
    cursor: pointer;
}

a, a:visited {
    color: white;
}

.jumbotron {
    height: 100%;
    background-image: url("/assets/images/landing-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
    font-size: 1.2em;
    color: red;  
}
