<mat-toolbar color="primary">
  <header class="main-header">
    <a class="logo" [routerLink]="['/landing/']">Zettle</a>
    <nav class="navigation">
      <div>
        <ul>
          <li>
            <a class="navigation-buttons" [routerLink]="['/user-auth/login/']" routerLinkActive="">Login</a>
          </li>
          <li>
            <a class="navigation-buttons" [routerLink]="['/customer/']" routerLinkActive="">Customer</a>
          </li>
          <li>
            <a class="navigation-buttons" [routerLink]="['/business-admin/']" routerLinkActive="">Business</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</mat-toolbar>
<app-user-signup></app-user-signup>
<app-jumbotron *ngFor="let item of landingInfo" [title]="item.title" 
[message]="item.message" [imageUrl]="item.imageUrl" [align]="item.align"></app-jumbotron>
<app-site-navigation></app-site-navigation>