<div class="container">
  <mat-card *ngFor="let store of userStoreInfo" class="store-card">
    <mat-card-header>
      <mat-card-title>{{store.name}}</mat-card-title>
    </mat-card-header>

    <img mat-card-image class="cover-image" src="/assets/images/store-2.jpg" [alt]="store.name">

    <mat-card-content>
      <p>
        {{store.address}}, {{store.city}}, {{store.state}}
      </p>
      <p>
        <b>Hours:</b>{{store.open}} - {{store.close}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-raised-button [routerLink]="['/business/dashboard']">View Store</button>
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>

</div>