$breakpoint-tablet: 768px;
$breakpoint-laptop: 1200px;

.btn-add-product {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.bill-card {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container {
    @media (min-width: $breakpoint-laptop) {
        width: 1024px;
    }

    @media (max-width: #{$breakpoint-laptop - 1px}) {
        width: 100%;
    }
    margin: auto;
}

.input-width {
    width: 100%;
}

.product-amount {
    font-size: 1.2rem;
}


.footer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    padding-left: 16px;
    padding-right: 16px;
}

.footer-content div {
    font-size: 1.2em;
    font-weight: bold;    
}

.footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
}

.footer-buttons div > button {
    margin: 20px;
}