<div class="container">
  <form>
    <mat-card class="bill-card">
      <mat-form-field class="input-width">
        <input type="text" placeholder="Biller" aria-label="Biller" matInput [formControl]="myControl"
          [matAutocomplete]="billerAuto">
        <mat-autocomplete #billerAuto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="input-width">
        <input type="text" placeholder="Payee" aria-label="Payee" matInput [formControl]="myControl" [matAutocomplete]="payeeAuto">
        <mat-autocomplete #payeeAuto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-list>
        <h3 mat-subheader>Cart</h3>
        <mat-list-item *ngFor="let product of productList">
          <img matListAvatar src="/assets/images/landing-2.jpg" alt="Photo of a Shiba Inu">
          <h4 mat-line>{{product.productName}}</h4>
          <p mat-line> {{product.manufacturerName}} | Quantity: {{product.quantity}} </p>
          <div class="product-amount">
            {{product.price | currency: 'INR'}}
          </div>
        </mat-list-item>
      </mat-list>
      <div class="footer">
        <div class="footer-content">
          <div>Total:</div>
          <div>{{ 14.23 | currency: 'INR'}}</div>
        </div>
        <div class="footer-buttons">
          <div>
            <button mat-raised-button color="primary">Send for review</button>
            <button mat-raised-button color="primary">Approve</button>
            <button mat-raised-button color="warn">Reject</button>
            <button mat-raised-button color="warn">Delete</button>
            <button mat-raised-button color="warn">Cancel</button>
          </div>
        </div>
      </div>
    </mat-card>
  </form>
</div>
<button class="btn-add-product" mat-fab (click)="addProduct()">
  <mat-icon aria-label="Add new product" svgIcon="add"></mat-icon>
</button>