<div class="container">
  <div class="image-block"></div>
  <div class="content-block">
    <h1>Are you ready to Zettle App?</h1>
    <div class="buttons">
      <button mat-raised-button [routerLink]="['/customer/']" color="primary">Be a Customer</button>
      <button mat-raised-button [routerLink]="['/business-admin/new-business']" color="accent">Start a business</button>
    </div>
  </div>
</div>