$montserrat: 'Montserrat, Arial, Helvetica, sans-serif';

.image-block {
    z-index: -1;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("/assets/images/landing-5.jpg");
}

.content-block {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    margin: auto;
    z-index: 2;
    font-family: $montserrat;
}


h1 {
    font-size: 3rem;
    padding: 16px;
    margin: 10px;
    background-color: #010f5e;
    color: white; 
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.buttons > button {
    margin: 10px;
}