<mat-toolbar color="primary">
  <header class="main-header">
    <a class="logo" [routerLink]="['/landing/']">Zettle</a>
    <div>{{(this.authState$ | async)?.user?.name}}</div>
    <nav class="navigation">
      <div>
        <ul>
          <li>
            <a (click)="signOut()" class="navigation-buttons" routerLinkActive="">Sign Out</a>
          </li>
          <li>
            <a class="navigation-buttons" [routerLink]="['/business-admin/existing']" routerLinkActive="">Business</a>
          </li>
          <li>
            <a class="navigation-buttons" [routerLink]="['/customer/activity']" routerLinkActive="">Activity</a>
          </li>
          <li>
            <a class="navigation-buttons" [routerLink]="['/customer/dashboard']" routerLinkActive="">Dashboard</a>
          </li>
        </ul>
      </div>
    </nav>
    <button class="vert-menu" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="more-vert"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/customer/dashboard']">
        <span>Dashboard</span>
      </button>
      <button mat-menu-item [routerLink]="['/customer/activity']">
        <span>Activity</span>
      </button>
      <button mat-menu-item [routerLink]="['/business-admin/existing']">
        <span>Business</span>
      </button>
      <button mat-menu-item (click)="signOut()">
        <span>Sign Out</span>
      </button>
    </mat-menu>
  </header>
</mat-toolbar>
<router-outlet></router-outlet>