$breakpoint-tablet: 768px;

.container {
    height: 100%;
}
.content-block {
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint-tablet) {
        max-width: 500px;
    }
    @media (max-width: #{$breakpoint-tablet - 1px}) {
        max-width: 90%;
    }
    
    margin: auto;
    justify-content: space-around;
    height: inherit;
}

h1 {
    font-weight: bolder;
    margin: auto;
}

.title {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 30px;
}

.field-block {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.options {
    display: flex;
    justify-content: space-between;  
    @media (min-width: $breakpoint-tablet) {
        font-size: 1rem;
    }
    @media (max-width: #{$breakpoint-tablet - 1px}) {
        font-size: 0.8rem;
    }    
    padding: 10px;  
}

.ref-link {
    text-decoration: none;
}

.sign-up-block {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sign-up-block a {
    padding: 2px;   
}