<div class="container">
  <div class="content-block">
    <div>
      <div class="title">
        <h1>Zettle</h1>
      </div>
      <div class="form-block">
        <mat-card>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div>
              <h3>Welcome back!</h3>
            </div>
            <div class="field-block">
              <mat-form-field>
                <input matInput name="email" placeholder="Email" formControlName="email" type="email">
                <mat-error>You must enter a value</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Password" formControlName="password" type="password">
                <mat-error>You must enter a value</mat-error>
              </mat-form-field>
              <div class="options">
                <mat-checkbox formControlName="hideRequired">Remember me</mat-checkbox>
                <a class="ref-link" href="">Forgot your password?</a>
              </div>
              <button mat-raised-button color="primary">Sign in to your account</button>
            </div>
          </form>
        </mat-card>
      </div>
      <div class="sign-up-block">
        <span>Don't have an account?<a class="ref-link" [routerLink]="['/user-auth/signup']">Sign Up</a></span>
      </div>
    </div>
  </div>
</div>