$breakpoint-tablet: 768px;

.container {
    position: relative;

    // display: inline-block;
}

.image-block {
    z-index: -1;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.text-block {
    position: absolute;
    bottom: 100px;
    @media (max-width: #{$breakpoint-tablet - 1px}) {
        margin: auto;
    }    
}

.align-left {
    @media (min-width: $breakpoint-tablet) {
        left: 100px;
    }
    @media (max-width: #{$breakpoint-tablet - 1px}) {
        left: 30px;
    }
}

.align-right {
    @media (min-width: $breakpoint-tablet) {
        right: 100px;
    }
    @media (max-width: #{$breakpoint-tablet - 1px}) {
        right: 30px;
    }
}

%text-block-shared {
    background-color: #010f5e;
    color: white;    
    z-index: 2;
    @media (min-width: $breakpoint-tablet) {
        width: 500px;
        padding: 20px;
    }
    @media (max-width: #{$breakpoint-tablet - 1px}) {
        width: 300px;
        padding: 10px;        
    }
}

.title {
    @extend %text-block-shared;
    font-weight: bold;
        
    @media (min-width: $breakpoint-tablet) {
        font-size: 2em;
    }
    @media (max-width: #{$breakpoint-tablet - 1px}) {
        font-size: 1.2em;
    }
}

.message {
    @extend %text-block-shared;
    display: inline-block;

    @media (min-width: $breakpoint-tablet) {
        font-size: 1.5em;
    }
    @media (max-width: #{$breakpoint-tablet - 1px}) {
        font-size: 1em;
    }
}
