<div class="container" >
  <div class="image-block" [ngStyle]="backgroundStyle"></div>
  <div class="text-block" [ngClass]="currentClasses">
      <div class="title">{{title}}</div>
      <p class="message">{{message}}</p>
  </div>  
</div>