<div class="container">
    <div class="content-block">
        <div>
            <div class="title">
                <h1>Zettle</h1>
            </div>
            <div class="sub-title">
                <h3>
                    Create your Zettle account now
                </h3>
            </div>
            <div class="form-block">
                <mat-card>
                    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                        <div class="field-block">
                            <mat-form-field>
                                <input matInput placeholder="Email" formControlName="email" type="email">
                                <mat-error>You must enter a value</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Name" formControlName="name" type="text">
                                <mat-error>You must enter a value</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Password" formControlName="password" type="password">
                                <mat-error>You must enter a value</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="ConfirmPassword" formControlName="confirmPassword" type="password">
                                <mat-error>You must enter a value</mat-error>
                            </mat-form-field>
                            <button [disabled]="signupForm.status == 'INVALID'" mat-raised-button color="primary">Create your Zettle account</button>
                        </div>
                    </form>
                </mat-card>
            </div>
            <div class="login-block">
                <span>Already have an account?<a class="ref-link" [routerLink]="['/user-auth/login']">Sign In</a></span>
            </div>
            <!-- {{ this.products | async }} -->
        </div>
    </div>
</div>