$breakpoint-tablet: 768px;

.container {
    height: 100%;
}

.content-block {
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-tablet) {
        max-width: 500px;
    }

    @media (max-width: #{$breakpoint-tablet - 1px}) {
        max-width: 90%;
    }

    margin: auto;
    justify-content: space-around;
    height: inherit;
}

h1 {
    font-weight: bolder;
    margin: auto;
}

.title {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 30px;
}

h3 {
    margin: auto;
}

.sub-title {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
}

.field-block {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.login-block {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ref-link {
    text-decoration: none;
}

.login-block a {
    padding: 2px;
}
