<mat-card class="total-order-card">
  <mat-card-header>
    <div class="header">
      <div>
        <div>Total Sales</div>
        <div>{{ 905.5 | currency: 'USD'}}</div>
      </div>
      <div>
        <div><a href="">View Report</a></div>
        <div>5%</div>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
</mat-card>