<div class="container">
    <mat-card *ngFor="let store of storeInfo" class="store-card">
        <mat-card-header>
            <mat-card-title>{{store.title}}</mat-card-title>
        </mat-card-header>

        <img mat-card-image class="cover-image" [src]="store.imageUrl" [alt]="store.title">

        <mat-card-content>
            <p>
                {{store.description}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-raised-button [routerLink]="['/business-admin/settings']">Start a new {{store.title}}</button>
            <!-- <button mat-button>SHARE</button> -->
        </mat-card-actions>
    </mat-card>

</div>