$breakpoint-tablet: 768px;

.container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.store-card {
    @media (min-width: $breakpoint-tablet) {
        width: 400px;
    }

    @media (max-width: #{$breakpoint-tablet - 1px}) {
        width: 90%;
    }  
    margin: 20px;  
}

.cover-image {
    height: 300px;
    object-fit: cover;    
}