$montserrat: 'Montserrat';

* {
    font-family: $montserrat;
}

.container {
    background-color: #010f5e;
    color: white;     
    padding-top: 30px;
    padding-bottom: 50px;    
}

.nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

ul, ol {
    list-style: none;
    padding:0;
    margin:0;    
}

li {
    padding-top: 5px;
}

li a {
    text-decoration: none;    
}

strong {
    color: white;
    font-weight: 400;
}

.business {
    min-width: 300px;
}

.customer {
    min-width: 300px;
}

.company {
    min-width: 300px;    
}