<div class="container">
  <div class="nav-links">
    <div class="business">
      <h3>Business</h3>
      <ul>
        <li>
          <a [routerLink]="['/business/dashboard/']">
            <strong>Dashboard</strong>            
          </a>
        </li>
        <li>
          <a [routerLink]="['/business/activity/']">
            <strong>Activity</strong>            
          </a>
        </li>
        <li>
          <a [routerLink]="['/landing/']">
            <strong>Help</strong>            
          </a>
        </li>
      </ul>
    </div>
    <div class="customer">
      <h3>Customer</h3>
      <ul>
        <li>
          <a [routerLink]="['/customer/dashboard/']">
            <strong>Dashboard</strong>            
          </a>
        </li>
        <li>
          <a [routerLink]="['/customer/activity/']">
            <strong>Activity</strong>            
          </a>
        </li>
        <li>
          <a [routerLink]="['/landing/']">
            <strong>Help</strong>            
          </a>
        </li>
      </ul>
    </div>
    <div class="company">
      <h3>Zettle</h3>
      <ul>
        <li>
          <a [routerLink]="['/landing/']">
            <strong>About</strong>            
          </a>
        </li>
        <li>
          <a [routerLink]="['/landing/']">
            <strong>Support</strong>            
          </a>
        </li>
        <li>
          <a [routerLink]="['/landing/']">
            <strong>Privacy & terms</strong>            
          </a>
        </li>
        <li>
          <a [routerLink]="['/landing/']">
            <strong>Image Credits</strong>            
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>