<div class="container">
  <div class="business-settings">
    <h2>Awesome, You are just one step away from creating the digital end of your business.</h2>
  </div>
  <mat-card class="business-settings">
    <form>
      <div class="form-block">
        <mat-form-field>
          <input matInput placeholder="Name" type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Address" type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="City" type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="State" type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="GST No." type="text">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Opening Hrs." type="time">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Closing Hrs." type="time">
        </mat-form-field>
        <div class="button-block">
            <button mat-raised-button color="primary">Create</button>
            <button mat-raised-button (click)="cancelClick()" color="warn">Cancel</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>