$breakpoint-tablet: 768px;

.container {
    padding-bottom: 30px;
}

.form-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button-block {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.business-settings {
    @media (min-width: $breakpoint-tablet) {
        width: 600px;
    }

    @media (max-width: #{$breakpoint-tablet - 1px}) {
        width: 90%;
    }
    margin: auto;
}