<div class="container">
    <mat-list>
      <h3 mat-subheader>Activities</h3>
      <mat-list-item *ngFor="let activity of activities">
        <img matListAvatar src="/assets/images/landing-2.jpg" alt="Photo of a Shiba Inu">
        <h4 class="list-header" mat-line>{{activity.biller}}</h4>
        <p mat-line> {{activity.date | date}} </p>
        <p mat-line> {{activity.itemCount}} items</p>
        <div class="bill-amount">
          {{activity.total | currency: activity.currencyCode}}
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon svgIcon="more-vert"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/customer/create-bill/']">
                <mat-icon svgIcon="details"></mat-icon>
                <span>Details</span>
              </button>
          <button mat-menu-item>
            <mat-icon svgIcon="edit"></mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item>
            <mat-icon svgIcon="delete"></mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <button class="btn-add-bill" [routerLink]="['/business/create-bill/']" mat-fab>
    <mat-icon aria-label="Add new bill" svgIcon="bill-add"></mat-icon>
  </button>