$breakpoint-tablet: 768px;
$breakpoint-laptop: 1200px;

.btn-add-bill {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.list-header {
    font-weight: bold;
}

.bill-amount {
    font-size: 1.2em;    
    // margin-left: 10px;
    // margin-right: 10px;
}

.container {
    @media (min-width: $breakpoint-laptop) {
        width: 1024px;
    }

    @media (max-width: #{$breakpoint-laptop - 1px}) {
        width: 100%;
    }
    margin: auto;
}